<div class="container-fluid p-0">
	<nav class="navbar navbar-light bg-light">
		<a class="navbar-brand"><img src="../assets/images/LOGO.png" class="img-fluid" alt="lo"></a>
			<ul>
				<li class="pr-4">About us</li>
				<li class="pr-4">Contact</li>
				<li class="pr-2"> <img src="../assets/images/facebookImage.png"></li>
				<li class="pr-2"> <img src="../assets/images/twitterImage.png"></li>
				<li class="pr-2"> <img src="../assets/images/instagramImage.png"></li>
				<li class="pr-2"> <img src="../assets/images/youtubeImage.png"></li>
			</ul>
	</nav>
</div>